<a href="https://colab.research.google.com/github/edsonebonelli/EventHorizons/blob/master/Se%C3%A7%C3%A3o3DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#A primeira coisa a se fazer para começar a trabalhar com criação e manipulação de DataFrames é:
#Importar os módulos PANDAS e NUMPY

import pandas as pd
import numpy as np

In [2]:
series = pd.Series([7,4,2, np.nan, 6, 9])

In [3]:
series

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [4]:
type(series)

pandas.core.series.Series

In [5]:
datas = pd.date_range('20180101', periods = 6)

#OBS: Na criação da data foi dado um período de partida 2018 - 01 - 01, logo em seguida o período estipulado foi 6 oque é isso?
#Significa que vai contar de 1 em 1 dias até o sexto dias
#Quando observamos abaixo em datas vemos que a FREQ está igual a D que significa dias.

In [6]:
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))

In [8]:
df
#Aqui criamos um DataFrame do tipo list com 6 linhas e 4 colunas
#As linhas correspondem a frequências de dias que foram iguais a 6 e a coluna correspondem as letras A,B,C,D

                   A         B         C         D
2018-01-01 -2.072646  1.586273 -0.773829  0.220910
2018-01-02 -1.331468  0.919292 -0.872035 -0.445204
2018-01-03  1.236954 -0.863286 -0.509709  1.582560
2018-01-04 -0.975544  0.401470  0.243326 -0.244872
2018-01-05 -0.505357  0.980397 -0.441553  0.049303
2018-01-06  1.549084  0.039790 -0.172989  0.845412

In [9]:
from pandas.core.arrays.categorical import Categorical

#Abaixo vamos criar um DataFrame2 um pouco mais complexo
#Para isso vamos importar do PANDAS a função CATEGORICAL

In [10]:
df2 = pd.DataFrame({"A":7, 
                    "B":pd.Timestamp('20190101'), 
                    "C":pd.Series(1, index=list(range(4)), dtype='float32'), 
                    "D":np.array([3]*4, dtype='int32'),
                    "E":pd.Categorical(["test","train","test","train"]),
                    "F":'Python'})

In [11]:
df2
#Analisando a DF2 temos uma outra DataFrame porém no estilo dicionário python 
#Vemos 4 linhas se iniciando do zero e 6 colunas indo do A ao F
#Tudo isso foi pedido no script acima, no caso da coluna C pd.Series 1 equivale ao valor para as 4 linhas e foi também passado do tipo FLOAT

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [12]:
df2.dtypes
#Executando df2.dtypes vemos todos os tipos como, float, int, categoria e objeto

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
#ADICIONANDO NOVAS COLUNAS A DATAFRAMES

In [14]:
df['Nova Coluna'] = 1
#Executando o código acima estamos adicionando a DataFrame uma nova coluna smepre depois da ultima

In [15]:
df

                   A         B         C         D  Nova Coluna
2018-01-01 -2.072646  1.586273 -0.773829  0.220910            1
2018-01-02 -1.331468  0.919292 -0.872035 -0.445204            1
2018-01-03  1.236954 -0.863286 -0.509709  1.582560            1
2018-01-04 -0.975544  0.401470  0.243326 -0.244872            1
2018-01-05 -0.505357  0.980397 -0.441553  0.049303            1
2018-01-06  1.549084  0.039790 -0.172989  0.845412            1

In [16]:
#VIZUALIZANDO DADOS DE UMA DATAFRAME

In [18]:
df.head(3)
#df.head é um comando para vizualizar a parte de cima da DataFrame por isso head (cabeça)
#Vamos utilizar o comando para vizualizar as 3 primeiras linhas da nossa DataFrame

                   A         B         C         D  Nova Coluna
2018-01-01 -2.072646  1.586273 -0.773829  0.220910            1
2018-01-02 -1.331468  0.919292 -0.872035 -0.445204            1
2018-01-03  1.236954 -0.863286 -0.509709  1.582560            1

In [19]:
df.tail(3)
#Já o df.tail serve para vizualizar as 3 ultimas linha da DatFrame

                   A         B         C         D  Nova Coluna
2018-01-04 -0.975544  0.401470  0.243326 -0.244872            1
2018-01-05 -0.505357  0.980397 -0.441553  0.049303            1
2018-01-06  1.549084  0.039790 -0.172989  0.845412            1

In [20]:
df.index
#Caso você queira vizualizar somente o INDEX de cada coluna temos o df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns
#O mesmo serve para a colunas usando o df.columns

Index(['A', 'B', 'C', 'D', 'Nova Coluna'], dtype='object')

In [23]:
df.to_numpy()
#Aqui podemos vizualizar todo conteudo interno, o python nos trás em forma de um ARRAY toda base.

array([[-2.07264617,  1.58627272, -0.77382904,  0.22090991,  1.        ],
       [-1.33146751,  0.91929221, -0.87203503, -0.44520418,  1.        ],
       [ 1.2369542 , -0.86328555, -0.50970929,  1.58256009,  1.        ],
       [-0.97554368,  0.4014701 ,  0.24332592, -0.2448716 ,  1.        ],
       [-0.5053567 ,  0.98039708, -0.44155349,  0.04930346,  1.        ],
       [ 1.54908368,  0.03979049, -0.17298874,  0.84541248,  1.        ]])

In [24]:
df.T
#df.T transforma toda coluna em linhas e linhas em colunas

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06
A,-2.072646,-1.331468,1.236954,-0.975544,-0.505357,1.549084
B,1.586273,0.919292,-0.863286,0.401470,0.980397,0.039790
C,-0.773829,-0.872035,-0.509709,0.243326,-0.441553,-0.172989
D,0.220910,-0.445204,1.582560,-0.244872,0.049303,0.845412
Nova Coluna,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
#COMBINANDO DATAFRAMES

In [26]:
df2 = pd.DataFrame({"A": ['A0', 'A1', 'A2', 'A3'],
                    "B": ['B0', 'B1', 'B2', 'B3'],
                    "C": ['C0', 'C1', 'C2', 'C3'],
                    "D": ['D0', 'D1', 'D2', 'D3']},
                    index = [0,1,2,3])

In [34]:
df3 = pd.DataFrame({"A": ['A4', 'A5', 'A6', 'A7'],
                    "B": ['B4', 'B5', 'B6', 'B7'],
                    "C": ['C4', 'C5', 'C6', 'C7'],
                    "D": ['D4', 'D5', 'D6', 'D7']},
                    index = [4,5,6,7])

In [35]:
df4 = pd.DataFrame({"A": ['A8', 'A9', 'A10', 'A11'],
                    "B": ['B8', 'B9', 'B10', 'B11'],
                    "C": ['C8', 'C9', 'C10', 'C11'],
                    "D": ['D8', 'D9', 'D10', 'D11']},
                    index = [8,9,10,11])

In [36]:
df2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [37]:
df3

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [38]:
df4

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [39]:
#Primeiro vamos executar um concatenação de DataFrames do modo estrutural errado

In [40]:
frames = [df2, df3, df4]
#Se observarmos o FRAME acima estamos gerando uma lista
#Conseguimos provar isso executando o comando type(frames)

In [41]:
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,     A   B   C   D
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7,       A    B    C    D
 8    A8   B8   C8   D8
 9    A9   B9   C9   D9
 10  A10  B10  C10  D10
 11  A11  B11  C11  D11]

In [42]:
type(frames)

list

In [43]:
#Temos um comando específico no pandas para podermos concatenar de modo correto as DataFrame

In [44]:
framesCombinados = pd.concat(frames)

In [45]:
framesCombinados

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [46]:
#Agora sim tenho uma estrutura DataFrame
#Utilizando o comando Type vemos isso

In [47]:
type(framesCombinados)

pandas.core.frame.DataFrame

In [48]:
#ADICIONANDO SUB-GRUPOS A DATAFRAMES CONCATENADOS

In [49]:
grupo = pd.concat([df2,df3,df4], keys=['F1','F2','F3'])
#Keys seriam como chaves de sub-grupos

In [50]:
grupo

         A    B    C    D
F1 0    A0   B0   C0   D0
   1    A1   B1   C1   D1
   2    A2   B2   C2   D2
   3    A3   B3   C3   D3
F2 4    A4   B4   C4   D4
   5    A5   B5   C5   D5
   6    A6   B6   C6   D6
   7    A7   B7   C7   D7
F3 8    A8   B8   C8   D8
   9    A9   B9   C9   D9
   10  A10  B10  C10  D10
   11  A11  B11  C11  D11

In [51]:
grupo['A']
#Caso queira selecionar somente a coluna A de todos os grupos

F1  0      A0
    1      A1
    2      A2
    3      A3
F2  4      A4
    5      A5
    6      A6
    7      A7
F3  8      A8
    9      A9
    10    A10
    11    A11
Name: A, dtype: object

In [52]:
grupo.loc['F2']
#Aqui vou localizar somente os dados da chave F2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [53]:
#CONCATENANDO USANDO APPEND

In [54]:
G2 = df2.append(df3)

In [57]:
G2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [58]:
G2.append(df4)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11